:root {
  --textColor: #00e000;
  --backgroundColor: #000;
  --pageBackgroundColor: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--pageBackgroundColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--textColor);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.config {
  background-color: var(--backgroundColor);
  margin-top: 20px;
  padding: 10px;
  border: 1px solid darkgrey;
  font-size: 14px;
  text-align: left;
}

.messages {
  margin:10px;
  width: 50%;
  border: 1px solid blue;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  background-color: var(--backgroundColor);
}
.messageWrapper{
  font-size: 14px;
}

.App-header .connection-information{
font-size: 18px;
color: white;
}
.App-header .connection-information b{
  font-size: 18px;
  color: var(--textColor);
}
.App-header .connection-information span{
  background-color: var(--textColor);
  color: var(--backgroundColor);
  padding: 5px;
  margin: 0 0 10px 10px;
  font-size: 14px;
}
/* Fields */
input {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  border: 2px solid var(--textColor);
}

button {
  margin-left: 10px;
  border: 2px solid var(--textColor);
  background: none;
  color: var(--textColor)
}